@import './variables.scss';

@font-face {
  font-family: yULookAtThis;
  src: url('../public/fonts/FuturaPTLight.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'yULookAtthis';
  background: $mac-gray;
}