.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 80px;
  overflow: hidden;
  //font-size: 200%;
  color: #fff;
  background: #000;
}

.name {
  margin-left: 5px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}